<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="627475773783-f05jj2quq817p62imo16efncd3ct2tmo.apps.googleusercontent.com">
    <title>emomii:: daily mood tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Satisfy&display=swap"
        rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet" href="./css/jass.css">

</head>

<body>
    {{{ body }}}



<script src="https://apis.google.com/js/client:platform.js?onload=onLoad" async defer></script>
<script src="./js/login.js"></script>
</body>

</html>
