<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
<div class="container-lg navbar">
    <table>
        <tr>
            <td>
                <h5>Emomii </h5>
            </td>
            <td>
                <h6>mood tracker</h6>
            </td>
        </tr>
    </table>
            {{#if logged_in}}
        <a href="/dashboard">dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</div>
<div class="row">
    <div id="entry">
        <p class="question">Create a new post</p>
        <form class="form new-post-form">
            <div class="form-group">
                <label class="question">Today I feel...</label><br>
                <select id="parentfeelings" name="parentfeelings"
                    onchange="populatechildren(parentfeelings,childfeelings)">
                    <option value="" disabled selected hidden>Please Choose...</option>
                    <option value="Happy">Happy</option>
                    <option value="Sad">Sad</option>
                    <option value="Angry">Angry</option>
                    <option value="Surprised">Surprised</option>
                    <option value="Bad">Bad</option>
                    <option value="Fearful">Fearful</option>
                    <option value="Disgusted">Disgusted</option>
                </select>
            </div>


            <div class="form-group">
                <label class="question">...but more specifically, I feel...</label><br>
                <select id="childfeelings" name="childfeelings"
                    onchange="populategrandchildren(childfeelings,grandchildfeelings)">
                    <option value="" disabled selected>Select your option</option>
                </select>
            </div>


            <div class="form-group">
                <label class="question">...because I am...</label><br>
                <select id="grandchildfeelings" name="grandchildfeelings">
                    <option value="" disabled selected>Select your option</option>
                </select>
            </div>


            <div class="form-group">
                <label for="post-entry" class="question">I feel this way because...</label>
                <textarea class="form-input" id="post-entry" name="post-entry"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    <div id="posts">
        <h3>Recent Posts</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Lorem sed risus ultricies tristique nulla aliquet enim tortor. Dolor magna eget est lorem. Mi
        ipsum faucibus vitae aliquet. Urna molestie at elementum eu facilisis. Nullam non nisi est sit. Varius morbi
        enim nunc faucibus a pellentesque sit amet porttitor. Viverra aliquet eget sit amet tellus. Metus aliquam
        eleifend mi in nulla posuere sollicitudin. Eu lobortis elementum nibh tellus.
        <br><br>
        Vulputate eu scelerisque felis imperdiet proin fermentum leo. Mauris sit amet massa vitae tortor condimentum
        lacinia quis. Feugiat pretium nibh ipsum consequat nisl. In cursus turpis massa tincidunt dui. Adipiscing elit
        pellentesque habitant morbi tristique senectus et netus. Facilisis leo vel fringilla est ullamcorper eget nulla.
        Amet aliquam id diam maecenas ultricies mi eget. Commodo viverra maecenas accumsan lacus vel facilisis volutpat.
        Purus faucibus ornare suspendisse sed nisi lacus. Enim tortor at auctor urna nunc id cursus metus. Auctor neque
        vitae tempus quam. Malesuada fames ac turpis egestas maecenas. Sed arcu non odio euismod.
        <br><br>
        Sed felis eget velit aliquet sagittis id consectetur purus. Elementum integer enim neque volutpat ac tincidunt.
        Sapien eget mi proin sed libero enim. Purus in massa tempor nec feugiat. Tellus molestie nunc non blandit massa
        enim nec dui. Quisque id diam vel quam elementum pulvinar etiam non. A iaculis at erat pellentesque adipiscing
        commodo. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. Ut enim blandit volutpat
        maecenas volutpat blandit aliquam etiam. Non blandit massa enim nec dui nunc mattis enim. Nisi vitae suscipit
        tellus mauris. Enim nulla aliquet porttitor lacus luctus accumsan. Tortor at risus viverra adipiscing at in. Sed
        odio morbi quis commodo odio aenean sed. In ornare quam viverra orci sagittis eu. Neque viverra justo nec
        ultrices dui sapien eget mi. Aenean pharetra magna ac placerat vestibulum. Sed faucibus turpis in eu mi.
        Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.
        <br><br>
        Amet risus nullam eget felis. Etiam tempor orci eu lobortis elementum nibh tellus. Sit amet facilisis magna
        etiam tempor orci eu. Suscipit tellus mauris a diam maecenas sed. A erat nam at lectus urna duis. Lacus vel
        facilisis volutpat est velit egestas dui id ornare. Dolor sit amet consectetur adipiscing elit ut aliquam purus.
        Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Aliquet nec ullamcorper sit amet risus
        nullam eget. Praesent tristique magna sit amet purus. Vitae tortor condimentum lacinia quis.
        <br><br>
        Varius sit amet mattis vulputate. Aenean euismod elementum nisi quis. Nisi vitae suscipit tellus mauris a diam
        maecenas sed enim. Habitant morbi tristique senectus et netus et malesuada. Morbi leo urna molestie at
        elementum. Habitant morbi tristique senectus et netus et malesuada. Non curabitur gravida arcu ac tortor
        dignissim. Enim neque volutpat ac tincidunt. Diam in arcu cursus euismod quis viverra nibh cras. Integer vitae
        justo eget magna fermentum iaculis.
    </div>
    <div id="charts">
        
        <div>
            <canvas id="myChart"></canvas>
        </div>
    
       
        <div>
            <canvas id="mySecondChart"></canvas>
        </div>
    </div>

</div>


<script src="./js/dashboard.js"></script>
</div>